*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body{
    width: 100%;
    background-color: #f0f2f5;
}
form{
    background-color: #fff;
    position: absolute;
    width: 320px;
    height: 270px;
    padding: 10px 5px 20px 5px;
    margin: -10px 850px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;
}
input[type="text"], input[type="password"]{
    display: block;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-family: "Segoe UI";
    font-size: 15px;

}   
.bnt1{
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}
footer{
    height: 30vh;
    background-color: #fff;
}
.f-pws{
    display: block;
    width: 200px;
    margin: auto;
    color: #1877f2;
    padding-left: 80px;
    font-family: "Segoe UI";
    font-weight: 400;
}
.line{
    border-top: 1px solid #222;
    opacity: 0.2;
}
.bnt2{
    width: 180px;
    font-size: 14px;
    background-color: #42b72a;
    border: none;
    color: white;
    margin: auto;
    display: block;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
}
.bnt3{
    width: 30px;
    height: 20px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: 700;
}
.sub-link h3{
    width: 270px;
    position: relative;
    color: black;
    font-family: "Segoe UI", Arial;
    padding: 150px 890px;
    font-size: 12px;
    font-weight: 600;
}
.sub-link h3 a{
    color: black;
    font-weight: bold;
    font-size: 13px;
}
.f-container{
    width: 340px;
    margin-left: 340px;
    margin-top: 30vh;
    font-family: "Segoe UI", Roboto, "San Francisco";
}

.f-container img{
    width: 250px;
    margin-top: 5vh;   
}

p{
    font-size: 20px;
    font-weight: 600;
    word-spacing: 3px;
}

.foot-contents{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

footer ol{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}
footer ol:first-child{
    border-bottom: 1px solid #dddfe2;
}
footer ol li{
    padding-right: 25px;
    font-size: 13px;
    color: #808080;
    font-family: "Segoe UI";
}
footer ol li a{
    text-decoration: none;
    color: #808080;
    font-family: "Segoe UI";
}
footer ol li a:hover {
    text-decoration: underline;
}
footer small{
    font-size: 11px;
    color: #808080;
    font-family: "Segoe UI";
}
