<h1>School belongings</h1>
<p>Would like to optimize your study process?</p><button (click)="Switch2()">Click here</button>
<app-product-item *ngIf="bool2" [arr]="[2,8,11,12,13]"></app-product-item>
<h1>Accessories</h1>
<p>Headphones, chargers and not only - everyting are here</p><button (click)="Switch3()">Click here</button>
<app-product-item *ngIf="bool3" [arr]="[0,4,5,10,20]"></app-product-item>
<h1>Cameras</h1>
<p>Need to record something?</p><button (click)="Switch4()">Click here</button>
<app-product-item *ngIf="bool4" [arr]="[1,6,14,15]"></app-product-item>
<h1>Bags</h1>
<p>The best containers for your stuff are here</p><button (click)="Switch1()">Click here</button>
<app-product-item *ngIf="bool" [arr]="[16,17,18,19]"></app-product-item>




