<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/22a021c7a8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="head">
      <h2>MyStore</h2>
     <fa-icon [icon]="ic"></fa-icon>
     <a class="Checkout" href="">Checkout</a>
    </div>
    <app-product-list></app-product-list>
    <div class="header">
      <div class="subh">
        <h1>
          Home
        </h1>
        <fa-icon [icon]="home"></fa-icon>
        <a href="">b</a>

      </div >
      <div  class="subh">
        <h1>
          About
        </h1>
        <fa-icon [icon]="book"></fa-icon>
        <a href="">b</a>
        
      </div>
      <div  class="subh">
        <h1>
          Albums
        </h1>
        <fa-icon [icon]="phone"></fa-icon>
        <a routerLink="/album">b</a>
        
      </div>
    </div>
    <router-outlet></router-outlet>
    


  </body>
</html>