*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.Checkout{
    color: #F0f2f5;
    text-decoration: none;
}
body{
    background-color: #F0f2f5;
    position: relative;
}
.likes{
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 7px;
}
.liking{
    padding-bottom: 15px;
}
.delete{
    padding: 6px;
    border-radius: 7px;
    background-color: black;
}
.head{
    padding: 20px;
    display: flex;
    background-color: black;
    color: #F0f2f5;
}
h2{
    padding-right: 70%;
}
#product{
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.rating{
    display: flex;
    padding-bottom: 20px;
}
img{
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: #1877f2;
    color: #F0f2f5;
    padding: 5px;
    border-radius: 6px;
}
#pr{
    padding-bottom: 5px;
}
.imageH{
    display: flex;
}
share-buttons{
    width: 30%;
    background-color:black;
}